<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding category-content">

  <div class="empty-state" *ngIf="categorias.length === 0">
    <ion-icon name="pricetags-outline"></ion-icon>
    <h3>Sin Categorías</h3>
    <p>Crea clasificaciones para organizar mejor tus tareas.</p>
  </div>

  <ion-list class="category-list" *ngIf="categorias.length > 0">
    
    <ion-item-sliding *ngFor="let categoria of categorias" class="category-sliding-item">
      
      <ion-item lines="none" class="category-item">
        <div class="icon-wrapper" slot="start">
          <ion-icon name="pricetag" color="tertiary"></ion-icon>
        </div>
       <ion-label>
  <h2 class="category-title">{{ categoria.nombre }}</h2>
  <p class="category-description">{{ categoria.descripcion }}</p>
</ion-label>
      </ion-item>

      <ion-item-options side="end">
        
        <ion-item-option color="warning" (click)="editar(categoria.id_categoria)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        
        <ion-item-option color="danger" (click)="alertEliminar(categoria.id_categoria, categoria.nombre)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
